<%- include('../layouts/adminheader') %>

    <h2 class="page-title">Categories</h2>
    <a href="/admin/categories/add_category" class="btn btn-success">Add a new Categories</a>
    <br><br>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>category</th>
                <th>Image</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <% categories.forEach((cat)=>{ %>
                <tr>
                    <td>
                        <%= cat.title %>
                    </td>

                    <td>
                      <img id="proImage" src=" <%= cat.image %>" alt=""> 
                    </td>
                    <td><a class ="btn btn-success" href="/admin/categories/edit_category/<%= cat._id %> ">Edit</a></td>
                
                    <td><a class="confirmDeletion btn btn-success" href="/admin/categories/delete-categories/<%= cat._id %> ">Delete</a></td>
        

                </tr>
                <% }) %>

        </tbody>
    </table>
  


    <%- include('../layouts/adminfooter') %>