<%- include('../layouts/adminheader') %>

    <h2 class="page-title">Edit product</h2>
    <a href="/admin/products" class="btn btn-success">Back to all products</a>
    <br><br>

    <form method="post" action="/admin/products/edit_products/<%= id %> " enctype="multipart/form-data">
        <div class="form-group">
            <label for="">Title</label>
            <input type="text" class="form-control" name="title" value="<%= title %>" placeholder="Title">
        </div>

        <div class="form-group">
            <label for="">Description</label>
            <textarea name="desc" cols="30" rows="10" value="content" class="form-control" placeholder="Description" value="<%= products.desc %>"></textarea>
        </div>
        

        <div class="form-group">
            <label for="">Category</label>
            <select name="category" class="form-control">
                <% categories.forEach((cat) => { %>
                    <option value="<%= cat.slug %>"
                        <% if (cat.slug == category) { %>
                            selected="selected"
                        <% } %>
                    ><%= cat.title %></option>
                <% }) %>
            </select>
        </div>

        <div class="form-group">
            <label for="">Price</label>
            <input type="text" class="form-control" name="price" value="<%= products.price %>" placeholder="Price">
        </div>

        <div class="form-group">
            <label for="">Current Image</label>
            <img class="img-edit" src="<%= products.image %>" alt="">
        </div>

        <div class="form-group">
            <label for=""> Upload Image</label>
            <input type="file" class="form-control" name="image" id="img" accept="image/*" onchange="previewImage(event);"/>

            <img src="#" id="imgPreview" alt="">
        </div>

        <button class="btn btn-success">Submit</button>
    </form>


<!-- previewImage -->
    <script>
        const previewImage =(event)=>{
            const imageFiles =event.target.files;
            const imageFilesLength =imageFiles.length;
            
            if(imageFilesLength > 0){
                const imageSrc = URL.createObjectURL(imageFiles[0]);
                
                const imgPreview = document.querySelector('#imgPreview');

                imgPreview.src = imageSrc;

                imgPreview.style.display ="block";
                imgPreview.style.height ="80px";
                imgPreview.style.width ="80px";
            }
        }
    </script>

    <%- include('../layouts/adminfooter') %>