<%- include ('layouts/header') %> 

  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">

    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="img/Mens-watche.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h2>Checkout our wrist watch</h2>
          <p>we sell affordable Wrist Watch for classic men</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="img/bg-image.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora voluptatem volup</h5>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae nam nulla iusto blanditiis nisi
              soluta tenetur aliquam, ipsam eos dolorem?</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="img/jew.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora voluptatem volup</h5>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae nam nulla iusto blanditiis nisi
              soluta tenetur aliquam, ipsam eos dolorem?</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>




  <br>

  <div class=" container">
    <h2 class="page-title text-center">CATEGORIES</h2>

    <div class="display ">
      <div class="category-display ">
        <% categories.sort(() => Math.random() - 0.5); %>
        <%  categories.slice(0, 4).forEach((cat)=>{ %>
                  <div class="card mt-3">
            <img src="<%= cat.image %>" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title"><%= cat.title %></h5>

            <a href="/products/<%= cat.slug %>" class="btn btn-success">Go Shopping</a>
          </div>
        </div>
        <%  }) %>
      </div>

      <div class="view text-center mt-3">
        <h3 class="">Go to products to view all categories</h3>
        <a href="/products" class="btn btn-success text-center">Products &#8594</a>
      </div>
    </div>


    <div class="top-product-header mt-5 text-center">
      <h3 class="text-center">Top Products</h3>
      <p>Our Top products of the week with 12% discount</p>
    </div>


    <div class="owl-carousel owl-theme pro">

      <% topProduct.forEach((top)=>{  %>
      <div class="card mr-3 mt-3">
          <img src="<%= top.image %>" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title"><%= top.title %></h5>
            <span style="display:flex; justify-content: space-evenly; font-weight: bold;">
              <span>
                <p style="font-weight:bold ;"> price:</p>$<%= top.price %>
              </span>
              <span>
                <p style="font-weight:bold ;">Discout:</p> <%= top.discount %>%
              </span>
            </span>
            <a href="/topProduct" class="btn btn-success mt-3">Checkout &#8594</a>
          </div>
        </div>
         <% }) %>
       
      </div>

     

    <div class="view text-center mt-3 mb-3">
      <a href="#" class="btn btn-success ">See More Top Products &#8594</a>
    </div>
    <br>


    <!-- testimony -->
    <div class="testimony-container ">
      

      <div class="testimony text-center">
        <h4>Testimonies </h4>
        <p>what our customers say</p>
      </div>
      <div class="owl-carousel owl-theme testit">
        <% testimonies.forEach((testi)=>{ %>
          <div class="card text-center">
            <div>
              <% if (testi.image=="" ) {%>
                <img id="noImage" src="img/noImage.jpg" alt=""
                  style="height: 150px; width: 150px; border-radius: 50%; border: 1px solid black;">
                <% }else {%>
                  <img src="<%= testi.image %>" class="card-img-top" alt="..."
                    style="height: 150px; width: 150px; border-radius: 50%; border: 1px solid black; margin: 0 auto;">
                  <% } %>
            </div>


            <div class="card-body">
              <h5 class="card-title"><%= testi.name %></h5>
              <div class="card-body">
                 <p class="card-text"><%= testi.comment %></p>
              </div>
            </div>
          </div>
          <% }) %>
      </div>
    </div>




    <br>
    <!-- footer -->

    <div class="footer">
      <div class="footer-content">
        <div class="contact">
          <h3 class="text-center" style="color: white; font-weight: bold;">Bigstepers</h3>
          <hr style="color: white; font-weight: bold;">
          <span> <i class="fa-solid fa-envelope"></i><a href="#">info@Bigstepers.com</a></span> <br><br>
          <span> <i class="fa-solid fa-phone"> 08036541679</i></span>
        </div>

        <div class="footer-product">
          <h3 class="text-center" style="color: white; font-weight: bold;">products</h3>
          <hr style="color: white; font-weight: bold;">
          <a class=" a btn btn-success mb-3" href="/products">All Products</a>
          <% categories.forEach((cat)=>{ %>
            <a class="a btn btn-success mb-3 " href="/products/<%= cat.slug %>">
              <%= cat.title %>
            </a>

            <% }) %>
        </div>

        <div class="futher-info">
          <h3 class="text-center" style="color: white; font-weight: bold;">Further Info</h3>
          <hr style="color: white; font-weight: bold;">
          <ul class="" style="list-style: none;">
            <li><a class="info btn btn-success mb-3" href="/">HOME</a></li>
            <li><a class="info btn btn-success mb-3" href="#">ABOUT US</a></li>
            <li><a class="info btn btn-success mb-3" href="#">FAQS</a></li>
          </ul>

        </div>

      </div>

      <div class="comment">

        <h4 class="text-center text-success" style=" font-weight: bold;">Drop a Testimoney</h4>
        <%- messages('messages', locals) %>

        <% if (errors) {%>
          <% errors.forEach((errors)=>{ %>
            <div class=" alert alert-danger">
              <%= errors.msg %>
            </div>
            <% }) %>
              <% } %>
          <br>
        
       
        <form class="" action="testimony" method="post" enctype="multipart/form-data">
          <div style="color:white;">
            <label for="Name">Name</label>
      
              <input type="text" placeholder="Name" class="form-control" name="name">
            
            

          </div>
          <div style="color:white;">
            <label for="comment">Comment</label>
            <textarea type="text" placeholder="Comment" class="form-control" name="comment" maxlength="100"></textarea>
          </div>
          <div style="color:white;">
            <label for="image">Image</label>
            <input type="file" class="form-control" name="image">
          </div>
          <div>
            <input type="submit" class="btn btn-success mt-4">
          </div>
        </form>


      </div>

      <hr style="color: white; font-weight: bold;">
      <div class="handles">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-linkedin"></i>
        <i class="fa-brands fa-instagram"></i>
      </div>

    </div>

    <%- include ('layouts/footer') %> 


   